body {
    margin: 0;
    font-size: 20px;
    font-family: "Open Sans", serif;
}

#main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    padding: 40px 20px;
    flex: 1 0;
}

.container__main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-main {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 30px;
}

.nav-main li {
    max-width: 300px;
    margin-inline: auto;
    border-bottom: 1px solid #adadad;
    padding: 0 20px;
}

.nav-main li:last-child {
    border-bottom: none;
}

.nav-main a {
    display: block;
    color: inherit;
    transition: all .3s;
    text-decoration: none;
    padding: 5px 0;
}

.nav-main a:hover {
    color: #adadad;
}

.nav-main a:hover strong {
    color: #adadad;
}

.nav-main strong {
    color: #b52727;
    transition: all .3s;
}

.nav-sub {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 22px;
}

.nav-sub li {
    border: none;
   padding-left: 42px;
}

.nav-sub strong {
    color: #b52727;
}