table {
    max-width: 400px;
    border-collapse: collapse;
    margin-inline: auto;
    border: 1px solid black;
}

th, td {
    min-width: 40px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: gray;
    color: white;
    font-weight: bold;
}
