.container {
    text-align: center;
}

.image-holder {
    max-width: 450px;
    margin: 30px auto;
}

.image-holder img {
    width: 100%;
}

.btn {
    border-radius: 15px;
    border: 2px solid red;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all .3s;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: black;
}
