.wrapper {
  display: flex;
  gap: 20px;
}

.wrapper > div {
  border: 1px solid black;
  width: 500px;
  min-height: 100px;
}

.category-item {
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

.category-item:hover {
  text-decoration: underline;
}